
body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: black;
}
img {
  height: 350px;
  width: auto;
}
h1 {
  font-size: 58px;
  color: lemonchiffon;
}
h2.indexhead {
  font-size: 35px;
  color: lemonchiffon;
}
h3.c_header {
  text-align: center;
  color: lemonchiffon;
  font-size: 42px;

}
a {
  font-size: 38px;
  text-decoration: none;
  color: #2bffd5;
}
a:hover {
  text-decoration: line-through;
  color: #2bffd5;
}
ul.comment {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  padding: 0px;
  color: lemonchiffon;
}
div.dashedit {
  display: block;
}
.link  {
  font-size: 14px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
p {
  margin: 0px;
  text-align: center;
  color: lemonchiffon;
}
