<h1>"Well, a bear can juggle and stand on a ball and he’s talented, but he’s not famous. Do you know what I mean?" - Kim Kardashian</h1>

<% @kardashians.each do |kardashian| %>
  <img src="<%= kardashian.photo %>">
  <p>&#8593;</p>
  <h2><%= link_to kardashian.name, kardashian_path(kardashian) %></h2>
<% end %>

<h3><%= link_to "add a Kardashian", new_kardashian_path %></h3>
